body {
    background: rgb(40, 43, 47);
    height: 100vh;
}
h1{
    font-size: 4em !important;
    height: 50px !important;
    padding: 10px !important;
}
main {
    min-height: 50vh;
    margin-top: 26vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.admin_nav_link, h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    min-width: 30vw;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    color: rgb(173, 189, 210);
    border: 2px solid rgb(173, 189, 210);
    border-radius: 20px;
}
.admin_nav_link:hover{
    color: rgb(122, 162, 215);
    border: 2px solid rgb(122, 162, 215);
    transition: all 0.2s ease;
}
table{
    width: 85vw;
    border-collapse: collapse;
    font-size: 1.1rem;
    font-family: 'Roboto', 'sans-serif';
    color: #eee;
}
th{
    font-size: 1.4rem;
    border-bottom: 1px solid #eee;
}
tr:nth-child(even) {
  background-color: rgba(122, 162, 215, 0.3);
}
td, th{
    padding: 10px;
    text-align: left;
}
button:hover{
    cursor: pointer;
}
.btn {
    padding: 6px 15px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 0.8rem ;
    border: 1px solid #eee;
    color: #eee;
}
.btn:hover {
    filter: brightness(1.2);
    transition: all 0.3s;
}
.new {
    background: rgba(161, 221, 203, 0.5);
    border-color: rgb(161, 221, 203);
}
.edit {
    background: rgba(217, 218, 188, 0.5);
    border-color: rgb(217, 218, 188);
}
.delete {
    background: rgba(135, 75, 75, 0.5);
    border-color: rgb(135, 75, 75);
}
.flash_news {
    padding: 10px;
    color: #eee;
    border-radius:5px;
    text-align: center;
    width: 70%;
    font-family: 'Roboto', 'sans-serif';
}
/************
 *  GLOBAL FORM STYLE  *
 *************/
form {
    width: 85vw;
    color: #eee;
    font-family: 'Roboto', 'sans-serif';
}

.form_row_container>div, .form_row {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    width: 90%;
}
.form_row_container>div:focus, .form_row:focus{
    color: rgb(122, 162, 215);
}
label::first-letter{
    text-transform: capitalize;
}
input, textarea, select {
    margin: 10px 0px;
    padding: 8px 15px;
    border-radius: 3px;
    background: rgba(122, 162, 215, 0.3);
    border: 1px solid #eee;
    border-width: 1px;
    color: #eee;
    font-family: 'Roboto', 'sans-serif';
}
option{
    color:rgb(50, 50, 50);
    text-transform:  capitalize;
}
input:focus, textarea:focus, select:focus{
    color: rgb(122, 162, 215);
    border-color: rgb(122, 162, 215);
}
select:hover{
    cursor: pointer;
}
.help-text{
    font-size: 0.7em;
}
.btn-submit {
    margin: 10px;
    padding: 7px 15px    ;
    font-size: 1.5rem;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    text-align: center;
    border-width: 1px;
    border-radius: 5px;
    color: #eee;
}
.btn-submit:hover{
    filter: brightness(1.2);
    transition: all 0.3s;
    cursor: pointer;
}
#picture_date_time{
    display: none;
}
/* CHECKBOXES */

input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0px;
    height: 20px;
    width: 20px;
}
.checkmark{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: rgba(122, 162, 215, 0.3);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox_wrapper{
    position: relative;
    height: 20px;
    width: 20px;
}
.checkbox_wrapper:hover input ~ .checkmark {
    border: 1px solid rgb(122, 162, 215);
}
.checkbox_wrapper input:checked ~ .checkmark {
    background: rgba(122, 162, 215, 0.5);
    border: 1px solid rgb(122, 162, 215);
}
.checkbox_wrapper input:checked ~ .checkmark:after {
    display: block;
}
.checkbox_wrapper .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #eee;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
