/**
 * LOG  FORM
 */
main {
    display: flex;
    justify-content: flex-start !important;
}
textarea {
    min-height: 15vh;
    min-width: 100%;
    font-size: 0.9em;
}
#log_date_date select{
    margin: 5px;
}
#log_date_date{
    margin-left: -5px;
}
#log_date_time{
    display: none;
}
#log_imageFile{
    cursor: pointer;
}
