{% extends 'admin_base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            
        {% endblock %}


{% endblock %}

{% block title %}Administration{% endblock %}
{% block page_title %} {{ country }} {% endblock %}

{% block body %}

    <main>

    <h2> {{ country }} </h2>

    </main>

{% endblock %}


{% block javascripts %}

{% endblock %}
