{% extends 'base.html.twig' %}
{% block body %}
    <h2>Désolé, cette adresse n'existe pas. Vous avez l'air perdu, vous avez peut-être besoin d'une <a href="{{ path('map') }}">carte</a> ?</h2>
{% endblock %}
