{% extends 'base.html.twig' %}


{% block head %}

        {% block stylesheets %}
            <style>
                main {
                    position: relative;
                    z-index: 2;
                    margin: 25px;
                    margin-top: 350px;
                    padding: 30px;
                    background: #fff;
                    color: #010000;
                    font-family: 'Roboto', 'sans-serif';
                    font-size: 1.1em;
                    line-height: 1.2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                h2 {
                    padding: 20px;
                    font-family: 'Roboto', 'sans-serif';
                    font-weight: 200;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 2.3em;
                }
                p {
                    max-width: 90%;
                }
            </style>
        {% endblock %}

{% endblock %}

{% block title %}Journal{% endblock %}
{% block page_title %} Journal {% endblock %}

{% block body %}


    <main>

        <h2> {{ log.title }} </h2>

            <pre>
            {{ log.content }}
            </pre>

    </main>

{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
    <script src="/c-est-par-ou-deja/includes/mobile_script.js"></script>
    <script src="/c-est-par-ou-deja/includes/mainpages_script.js"></script>

    <script src="{{ asset('JS/journal.js')}}"></script>
{% endblock %}
